In [1]:
import pandas as pd


significant_snp = pd.read_excel('/home/esp/data_analyze/01.06.2025_v2/data/init/alleli_alz.xlsx')
all_snp = pd.read_csv('/home/esp/data_analyze/01.06.2025_v2/data/output/gwas_results.csv', sep=';')
xxx = pd.read_excel('/home/esp/data_analyze/01.06.2025_v2/data/init/almagul_r.xlsx')
len(xxx)

13

In [2]:
# –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –ø–æ SNP
filtered_snp_xxx = all_snp[all_snp['SNP'].isin(xxx['SNP'])]

# –í—ã–≤–æ–¥ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞
print(f"–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–æ–≤–ø–∞–¥–∞—é—â–∏—Ö SNP: {len(filtered_snp_xxx)}")

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–æ–≤–ø–∞–¥–∞—é—â–∏—Ö SNP: 13

In [3]:
filtered_snp_xxx

,CHR,SNP,BP,A1,F_A,F_U,A2,CHISQ,P,OR
66622,3,rs11708767,151119726,A,0.3023,0.3379,G,0.7939,0.372900,0.8490
79793,4,rs11723502,185804320,C,0.1473,0.1172,T,1.0800,0.298700,1.3010
126343,7,rs7805803,50225391,A,0.3333,0.4034,G,2.8780,0.089790,0.7393
235977,19,rs184017,45394969,C,0.3450,0.2310,A,8.7020,0.003178,1.7530
235979,19,rs2075650,45395619,G,0.2326,0.1276,A,10.3300,0.001311,2.0720
235981,19,rs157581,45395714,G,0.3488,0.2414,A,7.6260,0.005752,1.6840
235982,19,rs34404554,45395909,G,0.2326,0.1276,C,10.3300,0.001311,2.0720
235983,19,rs157582,45396219,A,0.3450,0.2207,G,10.4800,0.001208,1.8600
235984,19,rs59007384,45396665,T,0.3140,0.1931,G,10.6300,0.001110,1.9120
235991,19,rs8106922,45401666,G,0.2287,0.3448,A,8.9420,0.002786,0.5633
235993,19,rs1160985,45403412,T,0.2907,0.3931,C,6.3370,0.011820,0.6327
235999,19,rs405509,45408836,C,0.3333,0.4345,A,5.8890,0.015230,0.6508
236001,19,rs769450,45410444,A,0.2287,0.3414,G,8.4510,0.003649,0.5720

In [4]:
# –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –ø–æ SNP
filtered_snp = all_snp[all_snp['SNP'].isin(significant_snp['SNP'])]

# –í—ã–≤–æ–¥ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞
print(f"–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–æ–≤–ø–∞–¥–∞—é—â–∏—Ö SNP: {len(filtered_snp)}")

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–æ–≤–ø–∞–¥–∞—é—â–∏—Ö SNP: 10

In [5]:
filtered_snp

,CHR,SNP,BP,A1,F_A,F_U,A2,CHISQ,P,OR
24117,1,rs6656401,207692049,A,0.14730,0.14830,G,0.001060,0.97400,0.9922
24155,1,rs3818361,207784968,T,0.25580,0.25860,C,0.005628,0.94020,0.9854
131859,7,rs11771145,143110762,A,0.41470,0.45520,G,0.908100,0.34060,0.8482
137462,8,rs2279590,27456253,A,0.34880,0.37240,G,0.328900,0.56630,0.9028
137464,8,rs11136000,27464519,T,0.34110,0.36900,C,0.463000,0.49620,0.8853
137465,8,rs9331888,27468862,C,0.39920,0.34140,G,1.963000,0.16120,1.2820
175736,11,rs3851179,85868640,A,0.44190,0.40000,G,0.982300,0.32160,1.1880
235999,19,rs405509,45408836,C,0.33330,0.43450,A,5.889000,0.01523,0.6508
236009,19,rs429358,45411941,0,0.00000,0.00000,T,NaN,NaN,NaN
236011,19,rs7412,45412079,T,0.04297,0.03448,C,0.264800,0.60690,1.2570

In [6]:
from Bio import Entrez
import pandas as pd
import time

Entrez.email = "maxat.suieubayev@nu.edu.kz"
Entrez.api_key = "ae25f7cac7ed6f393f8ad904176767c56808"

def annotate_snp(rsid):
    try:
        handle = Entrez.esearch(db="snp", term=rsid)
        record = Entrez.read(handle)
        if not record["IdList"]:
            return {"rsID": rsid}

        snp_id = record["IdList"][0]
        summary = Entrez.esummary(db="snp", id=snp_id)
        summary_data = Entrez.read(summary)
        docsum = summary_data["DocumentSummarySet"]["DocumentSummary"][0]

        return {
            "rsID": rsid,
            "Chr": docsum.get("CHR", "‚Äî"),
            "Position": docsum.get("CHRPOS", "‚Äî"),
            "Gene": docsum["GENES"][0]["NAME"] if docsum.get("GENES") else "‚Äî",
            "SNP Class": docsum.get("SNP_CLASS", "‚Äî"),
            "Global MAF": docsum.get("GLOBAL_MAF", "‚Äî"),
            "Alleles": docsum.get("ALLELE", "‚Äî"),
            "Function Class": docsum.get("FXN_CLASS", "‚Äî")
        }
    except Exception as e:
        print(f"‚ö†Ô∏è –û—à–∏–±–∫–∞ –∞–Ω–Ω–æ—Ç–∞—Ü–∏–∏ {rsid}: {e}")
        return {"rsID": rsid}

rs_ids = filtered_snp['SNP']
rs_ids = rs_ids[rs_ids.str.startswith('rs')].unique()

# –°–æ–±–∏—Ä–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã
snp_summaries = []
for rs in rs_ids:
    print(f"üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ {rs}...")
    summary = annotate_snp(rs)
    snp_summaries.append(summary)
    time.sleep(0.4)

# –°–æ–∑–¥–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã
summary_df = pd.DataFrame(snp_summaries)
summary_df.to_csv('/home/esp/data_analyze/01.06.2025_v2/data/output/snp_annotation.csv', index=False)

üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs6656401...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs3818361...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs11771145...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2279590...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs11136000...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs9331888...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs3851179...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs405509...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs429358...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs7412...

In [7]:
import pandas as pd

# –ó–∞–≥—Ä—É–∑–∫–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤
path = '/home/esp/data_analyze/01.06.2025_v2/data/output/first_step/gwas_results.PHENO.glm.logistic.hybrid'
gwas_df = pd.read_csv(path, delim_whitespace=True)

# –ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Å—Ç—Ä—É–∫—Ç—É—Ä—É
print(gwas_df.columns)
print(gwas_df.head())

# –û—Ç—Ñ–∏–ª—å—Ç—Ä—É–µ–º –∑–Ω–∞—á–∏–º—ã–µ SNP
significant_snps = gwas_df[gwas_df['P'] < 0.05]
print(f"üß¨ –ù–∞–π–¥–µ–Ω–æ –∑–Ω–∞—á–∏–º—ã—Ö SNP: {len(significant_snps)}")

# –°–æ—Ö—Ä–∞–Ω–∏–º
significant_snps.to_csv('significant_snps.csv', index=False)

/tmp/ipykernel_5361/3393079589.py:5: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  gwas_df = pd.read_csv(path, delim_whitespace=True)

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'PROVISIONAL_REF?', 'A1',
       'OMITTED', 'A1_FREQ', 'FIRTH?', 'TEST', 'OBS_CT', 'OR', 'LOG(OR)_SE',
       'Z_STAT', 'P', 'ERRCODE'],
      dtype='object')
  #CHROM  POS               ID REF ALT PROVISIONAL_REF? A1 OMITTED  A1_FREQ  \
0      0    0      10_24948653   G   .                Y  .       G      0.0
1      0    0      11_14272702   C   .                Y  .       C      0.0
2      0    0         1A-Cyt-2   A   .                Y  .       A      0.0
3      0    0  1kg_11_34998496   G   .                Y  .       G      0.0
4      0    0  1kg_11_35000864   C   .                Y  .       C      0.0

  FIRTH? TEST  OBS_CT  OR  LOG(OR)_SE  Z_STAT   P               ERRCODE
0      N  ADD     282 NaN         NaN     NaN NaN  CONST_OMITTED_ALLELE
1      N  ADD     279 NaN         NaN     NaN NaN  CONST_OMITTED_ALLELE
2      N  ADD     283 NaN         NaN     NaN NaN  CONST_OMITTED_ALLELE
3      N  ADD     278 NaN         NaN     NaN NaN  CONST_OMITTED_ALLELE
4      N  ADD     283 NaN         NaN     NaN NaN  CONST_OMITTED_ALLELE
üß¨ –ù–∞–π–¥–µ–Ω–æ –∑–Ω–∞—á–∏–º—ã—Ö SNP: 11136

/tmp/ipykernel_5361/3393079589.py:5: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  gwas_df = pd.read_csv(path, delim_whitespace=True)

In [8]:
significant_snps.head()

,#CHROM,POS,ID,REF,ALT,PROVISIONAL_REF?,A1,OMITTED,A1_FREQ,FIRTH?,TEST,OBS_CT,OR,LOG(OR)_SE,Z_STAT,P,ERRCODE
43,0,0,1kg_1_159759291,G,C,Y,C,G,0.067857,N,ADD,280,2.307690,0.365499,2.28796,0.022140,.
66,0,0,1kg_1_159801856,A,G,Y,G,A,0.072202,N,ADD,277,2.024920,0.351717,2.00596,0.044860,.
78,0,0,1kg_1_159817869,C,T,Y,T,C,0.064516,N,ADD,279,2.103950,0.370116,2.00968,0.044465,.
88,0,0,1kg_1_159826686,G,A,Y,A,G,0.071930,N,ADD,285,0.493630,0.353368,-1.99783,0.045735,.
114,0,0,1kg_1_241025971,C,A,Y,A,C,0.152330,N,ADD,279,0.574591,0.247892,-2.23524,0.025402,.

In [9]:
# –§–∏–ª—å—Ç—Ä—É–µ–º SNP, –ø–æ–≤—ã—à–∞—é—â–∏–µ —Ä–∏—Å–∫
risk_snps = significant_snps[(significant_snps['P'] < 0.05) & (significant_snps['LOG(OR)_SE'] < 0.165)]

# –°–º–æ—Ç—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
print(f"üß¨ SNP, –ø–æ–≤—ã—à–∞—é—â–∏–µ —Ä–∏—Å–∫: {len(risk_snps)}")
display(risk_snps[['ID', 'OR', 'P', 'Z_STAT']].sort_values(by='P'))
#risk_snps.to_csv('risk_snps_OR>8.csv')
rs_ids = risk_snps['ID']
#rs_ids = rs_ids[rs_ids.str.startswith('rs')].unique()
print('RS counts: ', len(rs_ids))
rs_ids.head()

üß¨ SNP, –ø–æ–≤—ã—à–∞—é—â–∏–µ —Ä–∏—Å–∫: 207

                    ID        OR         P   Z_STAT
149401  imm_9_34914487  1.818590  0.000288  3.62559
251443       rs1545469  0.564016  0.000382 -3.55211
189865       rs2374710  1.660190  0.002075  3.07925
149297  imm_9_34847969  1.655210  0.002251  3.05496
149409  imm_9_34918487  1.627620  0.002433  3.03161
...                ...       ...       ...      ...
231420       rs2364835  1.371790  0.049204  1.96682
247087       rs5757244  0.724641  0.049209 -1.96678
217295       rs8060063  0.735468  0.049222 -1.96667
131451      rs10954351  1.379780  0.049467  1.96455
155826  imm_10_6148445  0.723856  0.049715 -1.96241

[207 rows x 4 columns]

RS counts:  207

4756          rs10489163
4789           rs4295917
8418            rs284176
19410    imm_1_181666236
19414    imm_1_181667838
Name: ID, dtype: object

In [10]:
rs_ids = risk_snps['ID']
rs_ids = rs_ids[rs_ids.str.startswith('rs')].unique()

# –°–æ–±–∏—Ä–∞–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã
snp_summaries = []
for rs in rs_ids:
    print(f"üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ {rs}...")
    summary = annotate_snp(rs)
    snp_summaries.append(summary)
    time.sleep(0.4)

# –°–æ–∑–¥–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã
summary_df = pd.DataFrame(snp_summaries)
#summary_df.to_csv('/home/esp/data_analyze/01.06.2025_v2/data/output/or>8_snp_annotation.csv', index=False)
len(summary_df)

üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs10489163...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs4295917...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs284176...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1019969...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs10754596...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2073316...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2365772...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs4233921...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs7419716...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1432311...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs934390...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs13006885...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2042555...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs9973944...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs6550578...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2638148...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs9819616...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs6777787...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs783511...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs960212...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs3773989...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs10022491...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs261119...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs852564...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2199787...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs255332...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs28129...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs11952081...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2962783...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs13362387...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs11741906...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2517523...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2905759...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2523843...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs9263473...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs3131000...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs3095310...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs3095302...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs3095301...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs3131003...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs72853949...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs241426...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs8193036...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs881293...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1476043...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs206686...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs77529569...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs10954351...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs12671605...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs11981725...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1347529...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1843561...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2084635...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2167255...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1402944...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs10813070...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs10813073...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs10757866...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs4740701...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs10123240...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1927615...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2275003...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2173897...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs7848532...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs7031962...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2841455...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs9410301...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs3802597...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1798571...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1904723...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1898080...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs4933212...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs7923415...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs4625411...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs885442...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1944718...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs4936059...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs12418625...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1870194...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs7980524...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2374710...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1777664...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs4773279...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1956628...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs17098988...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs10134041...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2899680...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs6497203...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs11646372...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs8060063...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2160485...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs6503211...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs4798368...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs7232992...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2364835...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs4405633...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs12462380...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2691272...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs9304736...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs4806798...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs400322...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1437213...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2827604...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2837581...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs7275618...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs5757244...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs2105945...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs5961518...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs6628677...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs1545469...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs6520936...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs5980684...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs7061770...
üîç –û–±—Ä–∞–±–æ—Ç–∫–∞ rs5966049...

114

In [11]:
len(rs_ids)

114

In [12]:
print(f"–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–æ–≤–ø–∞–¥–∞—é—â–∏—Ö SNP: {len(significant_snp)}")

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–æ–≤–ø–∞–¥–∞—é—â–∏—Ö SNP: 36

In [13]:
# –§–∏–ª—å—Ç—Ä–∞—Ü–∏—è –ø–æ SNP
filtered_snp_2 = gwas_df[gwas_df['ID'].isin(significant_snp['SNP'])]

# –í—ã–≤–æ–¥ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞
print(f"–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–æ–≤–ø–∞–¥–∞—é—â–∏—Ö SNP: {len(filtered_snp_2)}")
filtered_snp_2

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–æ–≤–ø–∞–¥–∞—é—â–∏—Ö SNP: 10

,#CHROM,POS,ID,REF,ALT,PROVISIONAL_REF?,A1,OMITTED,A1_FREQ,FIRTH?,TEST,OBS_CT,OR,LOG(OR)_SE,Z_STAT,P,ERRCODE
24117,1,207692049,rs6656401,G,A,Y,A,G,0.147163,N,ADD,282,0.998436,0.234926,-0.006664,0.994683,.
24155,1,207784968,rs3818361,C,T,Y,T,C,0.256272,N,ADD,279,0.955811,0.196751,-0.229709,0.818318,.
131859,7,143110762,rs11771145,G,A,Y,A,G,0.432624,N,ADD,282,0.846658,0.171711,-0.969410,0.332341,.
137462,8,27456253,rs2279590,G,A,Y,A,G,0.365108,N,ADD,278,0.942221,0.167688,-0.354917,0.722652,.
137464,8,27464519,rs11136000,C,T,Y,T,C,0.361702,N,ADD,282,0.943255,0.166608,-0.350635,0.725862,.
137465,8,27468862,rs9331888,G,C,Y,C,G,0.366426,N,ADD,277,1.231340,0.169768,1.225820,0.220266,.
175736,11,85868640,rs3851179,G,A,Y,A,G,0.424460,N,ADD,278,1.232320,0.174026,1.200380,0.229993,.
235999,19,45408836,rs405509,A,C,Y,C,A,0.393617,N,ADD,282,0.692693,0.176517,-2.080070,0.037519,.
236009,19,45411941,rs429358,T,.,Y,.,T,0.000000,N,ADD,274,NaN,NaN,NaN,NaN,CONST_OMITTED_ALLELE
236011,19,45412079,rs7412,C,T,Y,T,C,0.040493,N,ADD,284,1.414400,0.438487,0.790686,0.429127,.